<!DOCTYPE html>
<html>
    <head>
        <title>Workouts - <%=appData.appName%></title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        <%- include ('partials/navbar.ejs') %>
        <%- include('partials/flash.ejs') %>

        
    </body>
</html>